---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .title {
        color: #000000;
        font-size: 3rem;
        font-weight: 600;
        margin: 0 0 10px 0;
        text-align: center;
      }

      .subtitle {
        color: #666666;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 0 20px 0;
        text-align: center;
      }

      .snap-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }

      .input-wrapper {
        position: relative;
        width: 600px;
        max-width: 100%;
      }

      #url-input {
        padding: 12px;
        padding-right: 40px;
        width: 100%;
        border: 1px solid #000000;
        border-radius: 6px;
        font-size: 1rem;
        background-color: #ffffff;
        color: #000000;
        outline: none;
        box-sizing: border-box;
        transition: box-shadow 0.3s ease;
      }

      #url-input:focus {
        border-color: #000000;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      }

      #url-input:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
      }

      .clear-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        cursor: pointer;
        display: none;
      }

      #snap-button {
        padding: 12px 25px;
        background-color: #000000;
        color: #ffffff;
        border: none;
        border-radius: 6px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      #snap-button:hover:not(:disabled) {
        background-color: #333333;
      }

      #snap-button:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
        opacity: 0.7;
      }

      .image-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 20px;
        max-width: fit-content;
      }

      .image-container img {
        width: 100%;
        height: auto;
        border: 1px solid #000000;
        border-radius: 4px;
      }

      .image-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }

      .timestamp {
        color: #666666;
        font-size: 0.9rem;
        text-align: center;
        display: none; /* Ẩn mặc định, hiện khi ảnh có dữ liệu */
      }

      .note {
        color: #999999;
        font-size: 0.9rem;
        font-style: italic;
        text-align: center;
        margin: 0;
      }

      @media (max-width: 599px) {
        .title {
          font-size: 2.2rem;
        }

        .subtitle {
          font-size: 0.8rem;
        }

        #url-input {
          padding: 10px;
          font-size: 0.9rem;
        }

        #snap-button {
          padding: 10px 20px;
          font-size: 0.9rem;
        }

        .note {
          font-size: 0.75rem;
        }

        .timestamp {
          font-size: 0.75rem;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1 class='title'>Snap Images from YouTube Videos</h1>
      <p class='subtitle'>
        Capture multiple shots from any YouTube video in seconds <br />easy and
        hassle-free.
      </p>

      <div class='snap-form'>
        <div class='input-wrapper'>
          <input
            type='text'
            id='url-input'
            placeholder='Paste your YouTube URL here'
          />
          <svg
            class='clear-icon'
            width='16'
            height='16'
            viewBox='0 0 16 16'
            fill='none'
          >
            <path d='M12 4L4 12M4 4L12 12' stroke='#666666' stroke-width='2.5'
            ></path>
          </svg>
        </div>
        <p class='note'>
          We will capture 3 random images from your video, it may take over 10
          seconds
        </p>
        <button id='snap-button' disabled>Snap Now</button>
      </div>

      <div class='image-container'>
        <div class='image-item'>
          <img
            id='snap1'
            src=''
            alt='First snapshot from YouTube video'
            style='display: none;'
          />
          <span id='time1' class='timestamp'></span>
        </div>
        <div class='image-item'>
          <img
            id='snap2'
            src=''
            alt='Second snapshot from YouTube video'
            style='display: none;'
          />
          <span id='time2' class='timestamp'></span>
        </div>
        <div class='image-item'>
          <img
            id='snap3'
            src=''
            alt='Third snapshot from YouTube video'
            style='display: none;'
          />
          <span id='time3' class='timestamp'></span>
        </div>
      </div>
    </main>
    <Footer />
    <script>
      interface ImageUrl {
        url: string
        name: string
        timestamp: number
      }

      const apiUrl = import.meta.env.PUBLIC_API_URL

      document.addEventListener('DOMContentLoaded', () => {
        const urlInput: HTMLInputElement = document.querySelector(
          '#url-input'
        ) as HTMLInputElement
        const snapButton: HTMLButtonElement = document.querySelector(
          '#snap-button'
        ) as HTMLButtonElement
        const clearIcon: HTMLElement = document.querySelector(
          '.clear-icon'
        ) as HTMLElement

        const snap1: HTMLImageElement = document.querySelector(
          '#snap1'
        ) as HTMLImageElement
        const snap2: HTMLImageElement = document.querySelector(
          '#snap2'
        ) as HTMLImageElement
        const snap3: HTMLImageElement = document.querySelector(
          '#snap3'
        ) as HTMLImageElement

        const time1: HTMLImageElement = document.querySelector(
          '#time1'
        ) as HTMLImageElement
        const time2: HTMLImageElement = document.querySelector(
          '#time2'
        ) as HTMLImageElement
        const time3: HTMLImageElement = document.querySelector(
          '#time3'
        ) as HTMLImageElement

        function validateUrl(): void {
          const url: string = urlInput.value.trim()
          const youtubeRegex: RegExp =
            /^(https?:\/\/)?((www|m)\.)?(youtube\.com\/(watch\?(.*&)?v=|embed\/|v\/)|youtu\.be\/)[\w-]{11}(&[\w-]+=[\w-]+)*$/
          const isValidUrl: boolean = youtubeRegex.test(url)

          snapButton.disabled = !isValidUrl

          clearIcon.style.display = url.length > 0 ? 'block' : 'none'
        }

        function formatTimestamp(seconds: number): string {
          const minutes = Math.floor(seconds / 60)
          const remainingSeconds = seconds % 60
          return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`
        }

        clearIcon.addEventListener('click', () => {
          urlInput.value = ''
          validateUrl()
        })

        snapButton.addEventListener('click', async () => {
          if (!snapButton.disabled || !apiUrl) {
            let videoId = null
            const url = new URL(urlInput.value)

            if (url.hostname.includes('youtube.com')) {
              videoId = url.searchParams.get('v')
            } else if (url.hostname.includes('youtu.be')) {
              videoId = url.pathname.slice(1)
            }

            if (!videoId) {
              alert('Invalid YouTube URL. Please enter a valid URL.')
              return
            }

            try {
              snapButton.textContent = 'Snapping...'
              snapButton.disabled = true

              const response = await fetch(`${apiUrl}/screenshots/${videoId}`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
              })

              if (!response.ok) {
                throw new Error(
                  `API request failed with status: ${response.status}`
                )
              }

              const data: ImageUrl[] = await response.json()

              snap1.src = data[0].url
              snap2.src = data[1].url
              snap3.src = data[2].url
              snap1.style.display = 'block'
              snap2.style.display = 'block'
              snap3.style.display = 'block'

              time1.textContent = formatTimestamp(data[0].timestamp)
              time2.textContent = formatTimestamp(data[1].timestamp)
              time3.textContent = formatTimestamp(data[2].timestamp)
              time1.style.display = 'block'
              time2.style.display = 'block'
              time3.style.display = 'block'
            } catch (error) {
              console.error('Error fetching snapshots:', error)
              alert('Failed to fetch snapshots. Please try again.')
            } finally {
              snapButton.textContent = 'Snap Now'
              validateUrl()
            }
          }
        })

        urlInput.addEventListener('input', validateUrl)
      })
    </script>
  </body>
</html>
